/*Home*/

*{
    box-sizing: border-box;

}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li {font-size: 1.25em;}

button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.322);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.322);
    color: black;
    background-color: rgb(114, 245, 114);

}

button:hover {
    background-color: green;
}

.container {
    max-width: 1400px;
    margin: auto;

}

.color-acento {
    color: rgb(11, 133, 0);;
}

header {
    background-color: rgb(245,245,245);
}

header .logo {
    margin: 0;
    padding: 30px 30px;
    font-weight: bold;
    color: rgb(11, 133, 0);
    font-size: 35px;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

header a {
    padding: 5px 15px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover {
    color:  rgb(114, 245, 114);
}

#titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: url("/img/nutricion\ edit.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#titulo h1 {
    color: black;
}

#titulo h2 {
    padding-bottom: 40px;
    font-size: 20px;
}

#somos-nutriestec {
    text-align: center;
    padding: 200px 15px;
}

#nuestros-planes {
    background-color: rgba(30,30,30);
    color: white;
}

#nuestros-planes .container {
    text-align: center;
    padding: 100px 10px;
}

#nuestros-planes h2 {
    margin-top: 0;
}

#nuestros-planes p {
    display: none;
}

#nuestros-planes .carta {
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 10px;
}

.carta:first-child {
    background-image: url("/img/MICRONEEDLING-CON-DERMAPEN-BANNER.jpg");

}

.carta:nth-child(2) {
    background-image: url("/img/radiofrecuencia.jpg");

}

.carta:nth-child(3) {
    background-image: url("/img/vacuterapia.jpg");
 
}

#caracteristicas .container {
    text-align: center;
    padding: 200px 12px;

}

#caracteristicas li {
    margin: 15px 0px;
    font-weight: bold;
    padding: 10px;
}

.check {
    height: 40px;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color:rgba(30,30,30);
    padding: 50px;
}

.icon {
    height: 80px;
}

/*Quienes Somos */

#quienessomos {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 60vh;
    background-image: url("/img/QuienesSomoss.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


#quienessomos h1 {
    font-size: 80px;
}

.emojipensando {
    height: 100px;
}

#quienes-somos {
    text-align: center;
    padding: 200px 15px;
}

#nuestra-mision {
    text-align: center;
    padding: 100px 15px;
    background-color: rgba(30,30,30);
    color: white;
}

#servicios {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 60vh;
    background-image: url("/img/ServicioPortadaa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#servicios h1 {
    color: black;
}

#derma-servicio {
    text-align: center;
    padding: 100px 15px;
}


#vacu-servicio {
    text-align: center;
    padding: 100px 15px;
    background-color: rgba(30,30,30);
    color: white; 
}

#radio-servicio {
    text-align: center;
    padding: 100px 15px;
}


@media (min-width: 720px) {
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 10px;
    }

    header{
        position: fixed;
        width: 100%;
    }


    #titulo h1{
        font-size: 100px;
        margin: 5px;
        margin-top: 50px;
    }

    #titulo h2 {
        font-size: 30px;
    }

    #somos-nutriestec .texto {
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding: 0px 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 20px;
    }

    #somos-nutriestec .container{
        display: flex;
        justify-content: space-evenly;
    }

    #somos-nutriestec .img-container{
        background-image: url("/img/Saludable.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 500px;
        background-size: cover;
    }

    #somos-nutriestec h2 {
        margin-top: 0px;
    }

    #nuestros-planes .planes {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #nuestros-planes p {
        display: block;
        margin-bottom: 50px;
    }

    #nuestros-planes h3 {
        margin-top: 0;
    }

    #nuestros-planes .carta {
        padding: 100px;
    }

    #nuestros-planes h2 {
        font-size: 80px;
    }

    /*Quienes Somos*/

    #quienes-somos .container {
        display: flex;
        justify-content: space-evenly;
    }

    #quienes-somos .img-container {
        background-image: url("/img/nutricionista.png");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 500px;
        background-size: cover;
    }

    #quienes-somos .texto {
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding: 0px 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 20px;
    }

    #nuestra-mision .container {
        display: flex;
        justify-content: space-evenly;
    }

    #nuestra-mision .texto {
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding: 0px 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 20px;
    }

    #nuestra-mision .img-container {
        background-image: url("/img/Nuestra-mision.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 500px;
        background-size: cover;
    }

    #mision {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
    }

    #mision .img-container {
        background-image: url("/img/Mision.png");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 500px;
        background-size: cover;
        text-align: center;
    }

    /*Servicio*/

    #servicios h1 {
        font-size: 80px;
    }

    #derma-servicio .container {
        display: flex;
        justify-content: space-evenly;
    }

    #derma-servicio .img-container {
        background-image: url("/img/DermapenImg.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 500px;
        background-size: cover;
    }

    #derma-servicio .texto {
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding: 0px 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 20px;
    }

    #vacu-servicio .container {
        display: flex;
        justify-content: space-evenly;
    }

    #vacu-servicio .img-container {
        background-image: url("/img/VacuterapiaImg.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 500px;
        background-size: cover;
    }

    #vacu-servicio .texto {
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding: 0px 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 20px;
    }

    #radio-servicio .container {
        display: flex;
        justify-content: space-evenly;
    }

    #radio-servicio .img-container {
        background-image: url("/img/RadioFrecuenciaImg.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 500px;
        background-size: cover;
    }

    #radio-servicio .texto {
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding: 0px 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 20px;
    }
}
