/*Misc*/

@import './misc/variables';
@import './misc/mixins';
@import './misc/normalize';

/*Partials*/

@import './partials/header';
@import './partials/footer';

/*Views*/

@import './views/home';
@import './views/quienessomos';
@import './views/servicio';
@import './views/productos';
@import './views/contacto';

@media  (min-width: 720px) {

    header{
        position: fixed;
        width: 100%;

        .container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        nav{
            display: flex;
            flex-direction: row;
            padding-bottom: 0px;
            }
        
        a {
        transition: all .3s linear;
        }

        a:hover {
        transform: scale(1.1, 1.1);
        
        }
    }    

    #titulo h1{
        font-size: 100px;
        margin: 5px;
        margin-top: 50px;
    }

    #titulo h2 {
        font-size: 30px;
    }

    #somos-nutriestec .texto {
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding: 0px 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 20px;
    }

    #somos-nutriestec .container{
        display: flex;
        justify-content: space-evenly;
        margin: 0;
    }

    #somos-nutriestec .img-container{
        @include sizes (500px, 500px);
        background-image: url("../img/Saludable.jpg");
        background-size: cover;
        background-position: center center;
        background-size: cover;

    }

    #somos-nutriestec h2 {
        margin-top: 0px;
    }

    #nuestros-planes .planes {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #nuestros-planes p {
        display: block;
        margin-bottom: 50px;
    }

    #nuestros-planes h3 {
        margin-top: 0;
        font-size: 40px;
    }

    #nuestros-planes .carta {
        padding: 100px;
    }

    #nuestros-planes h2 {
        font-size: 100px;
    }

    #caracteristicas li {
        font-size: 40px;
    }

    /*Quienes Somos*/

    #quienes-somos .container {
        display: flex;
        justify-content: space-evenly;
    }

    #quienes-somos .img-container {
        @include sizes (500px, 500px);
        background-image: url("../img/nutricionista.png");
        background-size: cover;
        background-position: center center;
        background-size: cover;
    }

    #quienes-somos .texto {
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding: 0px 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 20px;
    }

    #nuestra-mision .container {
        display: flex;
        justify-content: space-evenly;
    }

    #nuestra-mision .texto {
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding: 0px 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 20px;
    }

    #nuestra-mision .img-container {
        @include sizes (500px, 500px);
        background-image: url("../img/Nuestra-mision.jpg");
        background-size: cover;
        background-position: center center;
        background-size: cover;
    }

    #mision {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
    }

    #mision .img-container {
        @include sizes (500px, 500px);
        background-image: url("../img/Mision.png");
        background-size: cover;
        background-position: center center;
        background-size: cover;
        text-align: center;
    }

    /*Servicio*/

    #servicios h1 {
        font-size: 80px;
    }

    #derma-servicio .container {
        display: flex;
        justify-content: space-evenly;
    }

    #derma-servicio .img-container {
        @include sizes (500px, 500px);
        background-image: url("../img/DermapenImg.jpg");
        background-size: cover;
        background-position: center center;
        background-size: cover;
    }

    #derma-servicio .texto {
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding: 0px 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 20px;
    }

    #vacu-servicio .container {
        display: flex;
        justify-content: space-evenly;
    }

    #vacu-servicio .img-container {
        @include sizes (500px, 500px);
        background-image: url("../img/VacuterapiaImg.jpg");
        background-size: cover;
        background-position: center center;
        background-size: cover;
    }

    #vacu-servicio .texto {
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding: 0px 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 20px;
    }

    #radio-servicio .container {
        display: flex;
        justify-content: space-evenly;
    }

    #radio-servicio .img-container {
        @include sizes (500px, 500px);
        background-image: url("../img/RadioFrecuenciaImg.jpg");
        background-size: cover;
        background-position: center center;
        background-size: cover;
    }

    #radio-servicio .texto {
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding: 0px 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 20px;
    }

    /*Prodcutos*/

    .grid-container {
        display: grid;
        justify-items: center;
        justify-content: center;
        align-items: center;
        background-color: rgba(30,30,30);
        padding: 100px;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "img_1 img_2 img_3"
        "img_4 img_5 img_6";
    }  
    
    #productos-nutri h1 {
        font-size: 90px;
    }

    .grid-container img {
        padding: 50px;
    }

    .img_1 {
        grid-area: img_1;
        width: 80%;
        
    }

    .img_2 {
        grid-area: img_2;
        width: 80%;
    }

    .img_3 {
        grid-area: img_3;
        width: 80%;
    }

    .img_4 {
        grid-area: img_4;
        width: 80%;
    }

    .img_5 {
        grid-area: img_5;
        width: 80%;
    }

    .img_6 {
        grid-area: img_6;
        width: 80%;
    }

    /*Contacto*/

    #contacto h1 {
        font-size: 90px;
    }

    #contacto {
        margin-bottom: 50px;
    }

    #contactanos {
        margin-bottom: 50px;
    }

    footer{
        display: flex;
        justify-content: space-around;
        
        .icon {
            height: 80px;
            }
    
        }

}
