<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/vieja.css">
    <link rel="stylesheet" href="../css/index.css">
    <title>nutriestec</title>
</head>
<body>

    <header>
        <div class="container">
            <p class="logo">Nutriestec</p>
            <nav>
                <a href="../index.html">Home</a>
                <a href="../Views/quienessomos.html">Quienes Somos</a>
                <a href="../Views/servicio.html">Servicios</a>
                <a href="../Views/producto.html">Productos</a>
                <a href="../Views/contacto.html">Contacto</a>
            </nav>
        </div>
    </header>

    <section id="contacto">
        <h1>Contacto</h1>
    </section>

<!--CONTACTO-->

<section id="contactanos">

    <div class="container">
        <form action="action_page.php">
            
            <label for="fname">Nombre</label>
            <input type="text" id="fname" name="firstname" placeholder="Tu nombre...">
            
            <label for="lname">Apellido</label>
            <input type="text" id="lname" name="lastname" placeholder="Tu apellido...">
            
            <label for="country">Pais</label>
            <select id="country" name="country">
        <option value="australia">Australia</option>
        <option value="canada">Canada</option>
        <option value="usa">USA</option>
        <option value="usa">Venezuela</option>
        <option value="usa">Argentina</option>
    </select>
    
    <label for="subject">Asunto</label>
    <textarea id="subject" name="subject" placeholder="Escribe algo..." style="height:200px"></textarea>
    
    <input type="submit" value="enviar">
    
        </form>
    </div>

</section>

<!--FOOTER-->  

<footer>
    <a ttitle="" href="https://twitter.com/eedpacheco"><img class="icon" src="/img/twitter.png" alt=""></a>
    <a ttitle="" href="https://www.facebook.com/Eduardodp21"><img class="icon" src="/img/facebook-logo-3-1.png" alt=""></a>
    <a ttitle="Instragram" href="https://www.instagram.com/nutriestec.p/"><img class="icon" src="/img/insta.png" alt=""></a>
</footer>
    
</body>
</html>