<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nutriestec</title>
    <link rel="shortcut icon" href="./img/logotipo.svg.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/index.css">
</head>
    <nav>
        <ul>
            <!--LINKS-->
            <li><a href="../index.html">inicio <img class="enlaces__icon" src="../img/hogar.png" alt="hogar"></a></li></a></li>
            <li><a href="../Views/Nosotros.html">nosotros</a></li>
            <li><a href="../Views/Servicios.html">servicios</a></li>
            <li><a href="../Views/Productos.html">productos</a></li>
            <li><a href="../Views/Contacto.html">contacto</a></li>
        </ul>
    </nav>
</header>

    <!--LOGO TIPO-->

  <img src="../img/logotipo.svg.png" alt="logo">

  <!--LINKS REDES SOCIALES-->

  <footer>
    <a tittle="Twitter" href="https://twitter.com/Nutriestec"><img src="../img/twitter.png" alt="logo de twitter"></a>
    <a tittle="Instagram" href="https://www.instagram.com/nutriestec.p/"><img src="../img/insta.png" alt="logo de instagram"></a> 
    </footer>

</body>
</html>