<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nosotros</title>
    <link rel="shortcut icon" href="./img/logotipo.svg.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body background="../img/nutricion edit.jpg">
    

    <nav>
        <ul class="enlaces">
            <!--LINKS-->
            <li class="link"><a href="../index.html">Inicio <img class="enlaces__icon" src="../img/hogar.png" alt="hogar"></a></li>
            <li class="link"><a href="../Views/Nosotros.html">Nosotros <img class="enlaces__icon" src="../img/agente-de-servicio-al-cliente.png" alt="agente"></a></li>
            <li class="link"><a href="../Views/Servicios.html">Servicios <img class="enlaces__icon" src="../img/equipo.png" alt="equipo"></a></li>
            <li class="link"><a href="../Views/Productos.html">Productos <img class="enlaces__icon" src="../img/caja.png" alt="caja"></a></li>
            <li class="link"><a href="../Views/Contacto.html">Contacto <img class="enlaces__icon" src="../img/comunicar.png" alt="comunicar"></a></li>
        </ul>
    </nav>

    <section>
        <article>
            <h1 class="nosotros__titulo">NOSOTROS</h1>
                <img class="nosotros__imagen" src="../img/alimentación-sana.jpg" alt="imagen">
                    <p class="nosotros__parrafo">Somos un equipo de profesionales dedicado a mejorar tu salud a través de diferentes planes nutricionales y de estética y a partir de ello conseguir una mejora en tu aspecto físico.
                    Continuamente nos capacitamos y actualizamos para poder ofrecerte lo mejor y más novedoso en términos de salud nutricional y estética corporal.</p>
                <img class="nosotros__imagenn" src="../img/ula_licenciatura_nutricion_tradicional.jpg" alt="">
                    <p class="nosotros__parrafo">Nuestra Misión es ser una empresa modelo en Nutrición, estando siempre a la vanguardia de Tratamientos Nutricionales a nivel Internacional, ayudando a las personas a tener una nutrición adecuada a su medida.</p>
        </article>
        
    </section>
    

<!--LINKS DE REDES SOCIALES-->

<footer>
    <a class="footer__icon" tittle="twitter" href="https://twitter.com/Nutriestec"><img src="../img/twitter.png" alt="logo de twitter"></a>
    <a class="footer__icon" tittle="instagram" href="https://www.instagram.com/nutriestec.p/"><img src="../img/insta.png" alt="logo de instagram"></a> 
    <a class="footer__icon" tittle="facebook" href="https://www.facebook.com/Eduardodp21"><img src="../img/facebook-logo-3-1.png" alt=""></a>
    </footer>

</body>
</html>