<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Nutriestec</title>
</head>
<body background="../img/nutricion edit.jpg">

<!--HEADER-->

    <header>
        <div class="logo">
            <img class="logo__img" src="../img/logotipo.svg.png" alt="logo">
        </div>

        <div>
        <h2 class="logo__name">NUTRIESTEC</h2>
        </div>

<!--LINKS-->

    <nav>

        <a class="link" href="../index.html">Home</a>
        <a class="link" href="../Views/quienessomos.html">Quienes somos</a>
        <a class="link" href="../Views/servicio.html">Servicios</a>
        <a class="link" href="../Views/producto.html">Producto</a>
        <a class="link" href="../Views/contacto.html">Contacto</a>

    </nav>

</header>

<!--PRODUCTOS-->

<div class="producto__div">
    <h1>PRODUCTOS</h1>
</div>

<section class="producto__img">
    
    <div class="items_1"><img class="img__1" src="../img/crema de arrugas y manchas.jpeg" alt=""></div>
    
    <div class="items_2"><img class="img__2" src="../img/crema hidratante.jpg" alt=""></div>

    <div class="items_3"><img class="img__3" src="../img/crema-te-verde.jpg" alt=""></div>

    <div class="items_4"><img class="img__4" src="../img/depilador facial.jpg" alt=""></div>

    <div class="items_5"><img class="img__5" src="../img/maquina de masajes.jpg" alt=""></div>

    <div class="items_6"><img class="img__6" src="../img/maquina de terapia digital.jpg" alt=""></div>
    
</section>

<!--FOOTER-->

<footer>
        <a tittle="Twitter" href="https://twitter.com/Nutriestec"><img class="footer__icon" src="../img/twitter.png" alt="logo de twitter"></a>
        <a tittle="Instagram" href="https://www.instagram.com/nutriestec.p/"><img class="footer__icon" src="../img/insta.png" alt="logo de instagram"></a> 
        <a tittle="facebook" href="https://www.facebook.com/Eduardodp21"><img class="footer__icon" src="../img/facebook-logo-3-1.png" alt=""></a>
    </footer>
    
</body>
</html>