<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/vieja.css">
    <link rel="stylesheet" href="../css/index.css">
    <title>nutriestec</title>
</head>
<body>

    <header>
        <div class="container">
            <p class="logo">Nutriestec</p>
            <nav>
                <a href="../index.html">Home</a>
                <a href="../Views/quienessomos.html">Quienes Somos</a>
                <a href="../Views/servicio.html">Servicios</a>
                <a href="../Views/producto.html">Productos</a>
                <a href="../Views/contacto.html">Contacto</a>
            </nav>
        </div>
    </header>

    <section id="productos-nutri">
        <h1>Productos</h1>
    </section>

<main>

    <section class="grid-container">

            <img class="img_1" src="../img/crema de arrugas y manchas.jpeg" alt="">
        
            <img class="img_2" src="../img/crema hidratante.jpg" alt="">
        
            <img class="img_3" src="../img/reductora.jpg" alt="">
        
            <img class="img_4" src="../img/depilador facial.jpg" alt="">
        
            <img class="img_5" src="../img/maquina de masajes.jpg" alt="">
        
            <img class="img_6" src="../img/maquina de terapia digital.jpg" alt="">
        
    </section>
    
</main>
<!--FOOTER-->

<footer>
    <a ttitle="" href="https://twitter.com/eedpacheco"><img class="icon" src="/img/twitter.png" alt=""></a>
    <a ttitle="" href="https://www.facebook.com/Eduardodp21"><img class="icon" src="/img/facebook-logo-3-1.png" alt=""></a>
    <a ttitle="Instragram" href="https://www.instagram.com/nutriestec.p/"><img class="icon" src="/img/insta.png" alt=""></a>
</footer>
    
</body>
</html>