<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="La Nutrición Estética es la disciplina cuya finalidad es la restauración, el mantenimiento y la promoción de la estética corporal, la belleza y la salud,  a través de la alimentación y modificación de estilos de vida. Involucra el análisis e intervención activa de todo el proceso alimentario, desde la compra de víveres, diseño de menús, preparación, y consumo, tomando en cuenta el costeo, adaptabilidad, eficacia, practicidad, gustos y aberraciones del paciente así como la búsqueda de beneficios de salud óptimos.">
    <meta name="keywords" content="Nutricion Estetica Dietas Salud Nutricionista Bienestar Especialista Belleza Dermapen Vacuterapia RadioFrencuencia Servicios Productos">
    <title>Nutriestec | Quienes Somos?</title>
    <link rel="shortcut icon" href="../img/logotipo.svg.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/vieja.css">
    <link rel="stylesheet" href="../css/index.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>

    <header>
        <div class="container">
            <p class="logo">Nutriestec</p>
            <nav>
                <a href="../index.html">Home</a>
                <a href="../Views/quienessomos.html">Quienes Somos</a>
                <a href="../Views/servicio.html">Servicios</a>
                <a href="../Views/producto.html">Productos</a>
                <a href="../Views/contacto.html">Contacto</a>
            </nav>
        </div>
    </header>
    
    <section id="quienessomos">
        <h1>Quienes somos?</h1>
        <img class="emojipensando" src="../img/emojipensado.png" alt="">
    </section>

    <section id="quienes-somos">
        <div class="container">
            <div class="img-container" data-aos="zoom-in-right"></div>
            <div class="texto">
                <h2> Te preguntaras<span class="color-acento">
                    Quienes Somos?</span></h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus, illo a. Animi laboriosam in quo quidem ab ex eum quisquam et reiciendis deserunt, corporis aperiam eveniet earum obcaecati libero nesciunt.</p>
            </div>
        </div>
    </section>

    <section  id="nuestra-mision">
        <div class="container">
                <div class="img-container" data-aos="zoom-in-right"></div>
                <div class="texto">
                    <h2>Cual es nuestra <span class="color-acento">
                        Mision?</span></h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi doloremque eos dolorum blanditiis voluptate iste adipisci. Sunt officiis inventore voluptas est accusamus modi vero quidem omnis repellat, commodi nisi recusandae?</p>
                </div>
    </section>

    <section id="mision">
        <div class="img-container"></div>
    </section>

    <footer>
        <a ttitle="" href="https://twitter.com/eedpacheco"><img class="icon" src="/img/twitter.png" alt=""></a>
        <a ttitle="" href="https://www.facebook.com/Eduardodp21"><img class="icon" src="/img/facebook-logo-3-1.png" alt=""></a>
        <a ttitle="Instragram" href="https://www.instagram.com/nutriestec.p/"><img class="icon" src="/img/insta.png" alt=""></a>
    </footer>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>
      
</body>
</html>      
        