<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/index.css">
    <title>Nutriestec</title>
</head>
<body>

<!--HEADER-->


    <header class="p-3 mb-2 bg-dark text-white">
        <div class="logo">
            <img class="logo__img" src="../img/logotipo.svg.png" alt="logo">
        </div>

        <div>
        <h2 class="logo__name fw-bold">NUTRIESTEC</h2>
        </div>

<!--LINKS-->

    <nav>
        
        <a class="link text-white bg-dark" href="../index.html">Home</a>
        <a class="link text-white bg-dark" href="../Views/quienessomos.html">Quienes somos</a>
        <a class="link text-white bg-dark" href="../Views/servicio.html">Servicios</a>
        <a class="link text-white bg-dark" href="../Views/producto.html">Producto</a>
        <a class="link text-white bg-dark" href="../Views/contacto.html">Contacto</a>
        
    </nav>
</header>

<!--QUIENES SOMOS-->

<article> 
    <h1 class="somos__titulo fw-bold p-5 ">QUIENES SOMOS?</h1>
        <div class="somos__div">
        </div>
        
        <div class="somos__div2 d-flex flex-row mb-3 d-flex justify-content-center d-flex align-items-center">
            <img class="somos__img" src="../img/alimentación-sana.jpg" alt="imagen">
                <p class="somos__parrafo p-5 p-3 mb-2 bg-dark text-white">Somos un equipo de profesionales dedicado a mejorar tu salud a través de diferentes planes nutricionales y de estética y a partir de ello conseguir una mejora en tu aspecto físico.
                    Continuamente nos capacitamos y actualizamos para poder ofrecerte lo mejor y más novedoso en términos de salud nutricional y estética corporal.</p>
            </div>

            <div class="somos__div">
            </div>
            
        <div class="somos__div2 d-flex flex-row-reverse mb-3 d-flex justify-content-center d-flex align-items-center">
            <img class="somos__img" src="../img/ula_licenciatura_nutricion_tradicional.jpg" alt="">
            <p class="somos__parrafo p-5 p-3 mb-2 bg-dark text-white">Nuestra Misión es ser una empresa modelo en Nutrición, estando siempre a la vanguardia de Tratamientos Nutricionales a nivel Internacional, ayudando a las personas a tener una nutrición adecuada a su medida.</p>
        </div>
</article>

<!--FOOTER-->

<footer class="p-3 mb-2 bg-dark text-white">
        <a tittle="Twitter" href="https://twitter.com/Nutriestec"><img class="footer__icon" src="../img/twitter.png" alt="logo de twitter"></a>
        <a tittle="Instagram" href="https://www.instagram.com/nutriestec.p/"><img class="footer__icon" src="../img/insta.png" alt="logo de instagram"></a> 
        <a tittle="facebook" href="https://www.facebook.com/Eduardodp21"><img class="footer__icon" src="../img/facebook-logo-3-1.png" alt=""></a>
    </footer>

    
</body>
</html>