<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Nutriestec</title>
</head>
<body background="../img/nutricion edit.jpg">

<!--HEADER-->

    <header>
        <div class="logo">
            <img class="logo__img" src="../img/logotipo.svg.png" alt="logo">
        </div>

        <div>
        <h2 class="logo__name">NUTRIESTEC</h2>
        </div>

<!--LINKS-->        

    <nav>

        <a class="link"" href="../index.html">Home</a>
        <a class="link"" href="../Views/quienessomos.html">Quienes somos</a>
        <a class="link"" href="../Views/servicio.html">Servicios</a>
        <a class="link"" href="../Views/producto.html">Producto</a>
        <a class="link"" href="../Views/contacto.html">Contacto</a>

    </nav>
</header>

<!--SERVICIOS-->

<article>
    <h1 class="depilacion">DEPILACION LASER</h1>
        <div class="depilacion__div"></div>

        <div class="depilacion__div2">
            <img class="depilacion__img" src="../img/depilacion.jpg" alt="imagen">  
            <p class="depilacion__parrafo">La depilación láser de Diodo es actualmente la técnica de depilación más demandada, algo que marcó un hito en la depilación tanto femenina como masculina y un tratamiento cada vez más cotidiano para aquellas mujeres y hombres que desean eliminar el vello de forma definitiva.
            La solución más fiable y segura de eliminar el vello de forma eficaz, acabando de una vez por todas con el vello indeseado en cualquier parte del cuerpo y para siempre.
            Además de eliminar por completo el vello no deseado, la depilación láser de Diodo actúa sobre problemas concretos como el enquistamiento del vello, problemas de foliculitis, forunculosis e hidrosadenitis.</p>
        </div>
           <h1 class="radiofrecuencia">RADIOFRECUENCIA</h1>
        <div class="radiofrecuencia__div">
        </div>
        
        <div class="depilacion__div2">
           <img class="radiofrecuencia__img" src="../img/radiofrecuencia.jpg" alt="imagen">
           <p class="radiofrecuencia__parrafo">La radiofrecuencia es una técnica de reafirmación de la piel que utiliza ondas electromagnéticas que provocan un movimiento circular de las moléculas generando calor, lo que estimula la formación de nuevo colágeno.
            Funciona mediante la aplicación de cabezales de distinto tamaño en constante movimiento que van haciendo pequeños masajes circulares para que el tratamiento sea lo más relajante posible, combinando lo último en tecnología estética para recuperar la elasticidad y el equilibrio natural de la piel.
            La radiofrecuencia puede aplicarse en diferentes zonas del cuerpo: cara y cuello, escote y senos, brazos, abdomen y flancos, cartucheras, muslos, glúteos… con resultados visibles desde la primera sesión.</p>
        </div>
</article>

<!--FOOTER-->

    <footer>
        <a tittle="Twitter" href="https://twitter.com/Nutriestec"><img class="footer__icon" src="../img/twitter.png" alt="logo de twitter"></a>
        <a tittle="Instagram" href="https://www.instagram.com/nutriestec.p/"><img class="footer__icon" src="../img/insta.png" alt="logo de instagram"></a> 
        <a tittle="facebook" href="https://www.facebook.com/Eduardodp21"><img class="footer__icon" src="../img/facebook-logo-3-1.png" alt=""></a>
    </footer>
    
</body>
</html>