<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>nutriestec</title>
</head>
<body>

    <header>
        <div class="container">
            <p class="logo">Nutriestec</p>
            <nav>
                <a href="../index.html">Home</a>
                <a href="../Views/quienessomos.html">Quienes Somos</a>
                <a href="../Views/servicio.html">Servicios</a>
                <a href="../Views/producto.html">Productos</a>
                <a href="../Views/contacto.html">Contacto</a>
            </nav>
        </div>
    </header>