<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nosotros</title>
    <link rel="shortcut icon" href="./img/logotipo.svg.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body background="../img/nutricion edit.jpg">
    

    <nav>
        <ul class="enlaces">
            <!--LINKS-->
            <li class="link"><a href="../index.html">Inicio <img class="enlaces__icon" src="../img/hogar.png" alt="hogar"></a></li>
            <li class="link"><a href="../Views/Nosotros.html">Nosotros <img class="enlaces__icon" src="../img/agente-de-servicio-al-cliente.png" alt="agente"></a></li>
            <li class="link"><a href="../Views/Servicios.html">Servicios <img class="enlaces__icon" src="../img/equipo.png" alt="equipo"></a></li>
            <li class="link"><a href="../Views/Productos.html">Productos <img class="enlaces__icon" src="../img/caja.png" alt="caja"></a></li>
            <li class="link"><a href="../Views/Contacto.html">Contacto <img class="enlaces__icon" src="../img/comunicar.png" alt="comunicar"></a></li>
        </ul>
    </nav>

<section>
    <article class="servicio">
        <h1 class="servicio__titulo">SERVICIOS DE NUTRICION Y ESTETICA</h1>
            <h2 class="servicio__sub">Una buena alimentacion es la base de todo</h2>
                <p class="servicio__parrafo">Un programa específico de asesoramiento nutricional y dietético 100% personalizado, para que puedas conseguir los resultados deseados en el menor tiempo posible.</p>
                <img class="servicio__imagen" src="../img/Saludable.jpg" alt="imagen">
    </article>
</section>

<section>
    <article>
        <h1 class="depilacion">DEPILACION LASER</h1>
           <img class="depilacion__imagen" src="../img/depilacion.jpg" alt="imagen">  
           <p class="depilacion__parrafo">La depilación láser de Diodo es actualmente la técnica de depilación más demandada, algo que marcó un hito en la depilación tanto femenina como masculina y un tratamiento cada vez más cotidiano para aquellas mujeres y hombres que desean eliminar el vello de forma definitiva.
            La solución más fiable y segura de eliminar el vello de forma eficaz, acabando de una vez por todas con el vello indeseado en cualquier parte del cuerpo y para siempre.
            Además de eliminar por completo el vello no deseado, la depilación láser de Diodo actúa sobre problemas concretos como el enquistamiento del vello, problemas de foliculitis, forunculosis e hidrosadenitis.</p>
        <h1 class="radiofrecuencia">RADIOFRECUENCIA</h1>
           <img class="radiofrecuencia__imagen" src="../img/radiofrecuencia.jpg" alt="imagen">
           <p class="radiofrecuencia__parrafo">La radiofrecuencia es una técnica de reafirmación de la piel que utiliza ondas electromagnéticas que provocan un movimiento circular de las moléculas generando calor, lo que estimula la formación de nuevo colágeno.
            Funciona mediante la aplicación de cabezales de distinto tamaño en constante movimiento que van haciendo pequeños masajes circulares para que el tratamiento sea lo más relajante posible, combinando lo último en tecnología estética para recuperar la elasticidad y el equilibrio natural de la piel.
            Las ondas electromagnéticas van provocando un calentamiento gradual de la piel, que sin llegar a ser doloroso, va actuando sobre las fibras de colágeno, produciéndose en la piel un efecto de contracción y reduciendo gradualmente la flacidez.
            La radiofrecuencia puede aplicarse en diferentes zonas del cuerpo: cara y cuello, escote y senos, brazos, abdomen y flancos, cartucheras, muslos, glúteos… con resultados visibles desde la primera sesión.</p>
    </article>
</section>

<!--LINKS DE REDES SOCIALES-->

<footer>
    <a class="footer__icon" tittle="twitter" href="https://twitter.com/Nutriestec"><img src="../img/twitter.png" alt="logo de twitter"></a>
    <a class="footer__icon" tittle="instagram" href="https://www.instagram.com/nutriestec.p/"><img src="../img/insta.png" alt="logo de instagram"></a> 
    <a class="footer__icon" tittle="facebook" href="https://www.facebook.com/Eduardodp21"><img src="../img/facebook-logo-3-1.png" alt=""></a>
    </footer>