#quienessomos {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: url("../img/QuienesSomoss.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


#quienessomos h1 {
    font-size: 80px;
}

.emojipensando {
    height: 100px;
}

#quienes-somos {
    text-align: center;
    padding: 200px 15px;
}

#nuestra-mision {
    text-align: center;
    padding: 100px 15px;
    background-color: rgba(30,30,30);
    color: white;
}
