/*Servicios*/

#servicios {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: url("../img/ServicioPortadaa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#servicios h1 {
    color: black;
}

#derma-servicio {
    text-align: center;
    padding: 100px 15px;
}


#vacu-servicio {
    text-align: center;
    padding: 100px 15px;
    background-color: var(--secondary);
    color: white; 
}

#radio-servicio {
    text-align: center;
    padding: 100px 15px;
}