*{
    box-sizing: border-box;

}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li {font-size: 1.25em;}




@media (min-width: 720px) {
    header{
        position: fixed;
        width: 100%;

        .container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        nav{
            display: flex;
            flex-direction: row;
            padding-bottom: 0px;
            }
    }

footer{
    display: flex;
    justify-content: space-around;
    
    .icon {
        height: 80px;
        }

    }

}