:root {
    --primary: 
    --secondary: black;
    --alterenative:
    --text-color: 
    --base: 


    --spacing-large: 
    --spacing-medium: 
    --spacing-small: 
    --spacing-xsmall: 


    --font-principal: 
    --font-title: 


    --text-large: 
    --text-medium: 
    --text-base: 
    --text-small:  
}